    <!-- 导航css -->
    <import type='css'  file="CSS/photo_wall/nav"/> 
    <!-- 导航js -->
    <import type='js'  file="js/photo_wall/nav2" />
    <!-- 导航 -->
	<div id="menu">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="menu-inner">

            <ul>

                <div class="div_frame li_one">
                    <li class="the_li">
                        Otc
                    </li>	
                    <li class="the_sub_li sub_li_one">
                        1
                    </li>
                    <li class="the_sub_li sub_li_one">
                        2
                    </li>
                </div>

                <div class="div_frame li_two">

                    <li class="the_li">
                        Nov
                    </li>

                    <li class="the_sub_li sub_li_two">
                        k11
                    </li>

                    <li class="the_sub_li sub_li_two">
                        汉街
                    </li>
                </div>		
                <li>
                    Dec
                </li>
            </ul>
        </div>
        <svg version="1.1" id="blob"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path id="blob-path" d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z"/>
        </svg>
</div>