    <!-- 导航css -->
    <import type='css'  file="CSS/photo_wall/nav"/> 
    <!-- 导航js -->
    <import type='js'  file="JS/photo_wall/nav2" />
    <!-- 导航 -->
	<div id="menu">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="menu-inner">

            <ul>
                <!-- <div class="div_frame li_one">
                        <li class="the_li">
                            可爱的聊天瞬间
                        </li>	
                        <li class="the_sub_li sub_li_one">
                            1
                        </li>
                        <li class="the_sub_li sub_li_one">
                            2
                        </li>
                </div> -->
                <div class="div_frame">
                        <a class="the_li" href="__PDF__/love_contact">About Our Love</a>
                </div>
                
                <div class="div_frame li_one">
                    <li class="the_li">
                        Otc
                    </li>	
                    <li class="the_sub_li sub_li_one">
                        L7LiveHouse(法老)
                    </li>
                    <li class="the_sub_li sub_li_one">
                        
                    </li>
                </div>

                <div class="div_frame li_two">

                    <li class="the_li">
                        Nov
                    </li>
                    
                    <li class="the_sub_li sub_li_two">
                        图书馆的第一次合照!
                    </li>

                    <li class="the_sub_li sub_li_two">
                        蓉城老院
                    </li>

                    <li class="the_sub_li sub_li_two">
                        江汉路
                    </li>

                    <li class="the_sub_li sub_li_two">
                        k11
                    </li>
                    <li class="the_sub_li sub_li_two">
                        汉街
                    </li>
                    <li class="the_sub_li sub_li_two">
                        in da house
                    </li>
                    <li class="the_sub_li sub_li_two">
                        L7LiveHouse(Chill Boy)
                    </li>
                    <li class="the_sub_li sub_li_two">
                        小龙坎
                    </li>
                </div>
                <div class="div_frame li_three">
                    <li class="the_li">
                    Dec
                    </li>
                    <li class="the_sub_li sub_li_three">
                        part of yixuan's diary
                    </li>
                    <li class="the_sub_li sub_li_three">
                            关谷
                    </li>
                </div>		
            </ul>
        </div>
        <svg version="1.1" id="blob"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path id="blob-path" d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z"/>
        </svg>
</div>