<div class="modal fade" id="myModal_manual" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>    
                <h1>小舟爱心手册 -- 爱情种草机篇</h1>
                <!-- <p>主要是担心某任的智商不够, 玩不懂</p> -->
            </div>
            <div class="modal-body">
                <div>   
                    <div>
                        <h3 class="text-info">1. 在感叹小舟智商的同时, 小任可以会问这个看起来无比高端的页面是用来干嘛的?</h3>
                        <Blockquote>
                        <p>这个页面的是和"我们的足迹页面直接关联的", 就是下图, 这里编辑的会直接出现到我们的足迹页面哦</p>
                        </Blockquote>
                        <div>
                                <a href="javascript:void(0)" class="thumbnail">
                                        <img class="thumbnail" src="__PHOTO__/TagCloud/tag_cloud.png"
                                                alt="通用的占位符缩略图">
                                </a>
                        </div>
                    </div>
                    <div>
                            <h3 class="text-info">2. 那这个伟大的作品怎么用呢?</h3>
                            <h4>以小任任的智商, 我觉得有必要详细的说明一下</h4>
                    </div>
                    <div>
                            <a href="javascript:void(0)" class="thumbnail">
                                    <img src="__PHOTO__/TagCloud/tag_edit.png"
                                            alt="通用的占位符缩略图">
                            </a>
                            <Blockquote>
                            <p>
                                两个图片比较下来, 小任任应该发现了,我们的云足迹里 <br>
                                第一行显示的叫:<span class="text-success">足迹名称</span><br>
                                第二行显示的叫:<span class="text-success">足迹描述</span><br>
                                第三行显示的叫:<span class="text-success">标签</span><br>
                                这三个元素在编辑页面里面都是可以编辑的<br>
                                <span class="text-info">什么, 小任问我是怎么编辑的??</span><br>
                                <p>名称和描述直接输入就可以改啦
                                标签输入之后按enter(回车键)添加, 删除直接点右上小叉叉
                                <span class="text-danger">最后别忘了确定才会生效哦</span>
                            </p>
                            </Blockquote>
                    </div>
                    <div>
                            <h3 class="text-info">3. 新增自定义足迹是什么呀?</h3>
                            <Blockquote>
                                <p>
                                        新增足迹就是新增一个足迹云, 我知道任笨🐷曾经以为只是增加一个标签??哈哈哈
                                </p>
                            </Blockquote>
                                <a href="javascript:void(0)" class="thumbnail">
                                        <img src="__PHOTO__/TagCloud/tag_add.png"
                                                alt="通用的占位符缩略图">
                            </a>
                            <blockquote>
                            <p>
                                    在这里新增之后, 小任任就可以用于一个全新的足迹云, 并且可以添加属于它的标签啦
                            </p>
                            </blockquote>
                    </div>
                    <div>
                            <h3 class="text-info">4. 那小任任想删除一个足迹云咋办呢?</h3>
                            <blockquote>
                                    <p>
                                            在编辑页面的每一个足迹云的右下角, 都有一个删除按钮哦, 小任任可以删除想删除的足迹云.
                                            但是, 小任任删除的时候需要小心哦, <span class="text-danger">删除一个云意味着所有数据都消失啦</span>
                                    </p>
                            </blockquote>
                    </div>
        
                </div>

                
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">朕已阅~</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    
</script>