<style type="text/css"> 
    ._foot{
        margin-top: 50px;
        background-color:black;
        padding: 20px 80px;
        height: 80px;
        color: white !important;
        position: absolute;
        /* bottom: 0; */
        width: 100%; 
        left: 0;
    }
    ._foot p{
        margin: 0 0 10px;
        width: 100%;
    }
    /* @media screen and (max-width: 600px){

    ._foot p{
        
    } */

    /* } */
</style>

<div class="_foot ">
    <div class="row">
        <p class="col-xs-12 col-lg-12 col-sm-12 text-center">小舟❤️版权所有 2019 - 2119 ©</p>
        <p class="col-xs-12 col-lg-12 col-sm-12 text-center">艺璇</p>
    </div>

</div>

<!-- <script>
    $("._foot").css("button", 0);
</script> -->