<style type="text/css"> 
    ._foot{
        /* margin-top: 30px; */
        background-color:black;
        padding: 10px 0px;
        min-height: 80px;
        color: white !important;
        /* position: absolute; */
        /* bottom: 0; */
        width: 100%; 
        left: 0;
        /* overflow:hidden; */
    }
    ._foot p{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        margin: 0 0 10px;
        width: 100%;
    }
</style>

<div class="_foot">
    <div class="row">
        <p class="col-xs-12 col-lg-12 col-sm-12 text-center">小舟❤️版权所有 2019 - 2119 ©</p>
        <p class="col-xs-12 col-lg-12 col-sm-12 text-center">艺璇</p>
    </div>

</div>

<!-- <script>
    $("._foot").css("button", 0);
</script> -->