<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>方猪 & 任狗</title>
<meta http-equiv="imagetoolbar" content="no">
<link rel="shortcut icon" href="__ROOT__/favicon.ico" />
<link rel="bookmark"href="__ROOT__/favicon.ico" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<!-- JQ库 -->
<!-- <script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script> -->
<!--[if IE]>
    <script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
<!-- 引入在线的BS库 -->
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- 图标 -->
<link href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" rel="stylesheet">
<!-- 百度统计测试 -->
<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?b292b925d78c1eba23bcc597887f0ba5";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>
<!-- 默认全局CSS -->
<import type='CSS' file='CSS/Base/index'/>
<!-- import 的引入默认是从网站的public作为根目录的 -->
<!-- cookie 插件 -->
<import type='js' file='JS/Base/jquery_cookie'/>
<!-- 弹窗layer 插件 -->
<import type='js' file='Plugin/layer/layer' />
<!-- js 公共函数库 -->
<import type='js' file='JS/Base/function' />
	