<style type="text/css"> 
/* .navbar{
    background-color: #020302;
} */
.NavBar_v2{
    width: 80%;
    margin: 0 auto;

}
/* .navbar-default .navbar-nav > li > a {
    color: pink;
} */
.NarBar_brand{
                margin-top: 3px; 
                width:20%; 
                /* transform: rotate(-90deg); */
            }
.NavBar_content{
        padding-top: 10px;
}

    		/* 手机显示的CSS */
@media screen and (max-width: 720px){


            .NavBar_v2 {
                width: 80%;
                margin: 0 auto;
            }
            .NarBar_brand{
                margin-top: 3px; 
                width:18%; 
                /* display: none; */
                /* transform: rotate(-90deg); */
            }

}

</style>

<nav class="navbar navbar-default navbar-fixed-top row navbar-inverse" role="navigation">   
    <!-- <div class="pull-left col-lg-2">
        <h2 class="text-info">小任&小方</h2>
    </div> -->
    <div class="container-fluid row center-block NavBar_v2"> 

        <div class="navbar-header col-lg-4 pull-left">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <img src="__PHOTO__/NavBar/brand_first.png" class="img-circle NarBar_brand" alt="小任和小舟的Web">
        </div>

        <div class="collapse navbar-collapse col-lg-8 text-center NavBar_content" id="example-navbar-collapse">
            <ul class="nav navbar-nav row">
                <li class="text-bolder"><a href="{:U('LoveContract/index')}">恋爱合约</a></li>
                <li><a href="{:U('TimeCounter/index')}">倒计时 & 纪念日</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                        足迹云 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('TagCloud/index')}">我们的足迹云</a></li>
                        <li><a href="{:U('TagCloud/EditTag')}">编辑足迹云<span class="text-danger">(NEW)</span></a></li>
                        <!-- <li><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li> -->
                    </ul>
                </li>
                <li><a href="{:U('PhotoWall/index')}">照片墙</a></li>
                <li><a href="{:U('beginning/index')}">想对你说</a></li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            留言板<span class="text-danger">(NEW)</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{:U('DailyBoard/ShowAll')}">我们的留言</a></li>
                            <li><a href="{:U('DailyBoard/Edit')}">发布留言</a></li>
                        </ul>
                </li>
                <li><a href="{:U('Card/index')}">爱心卡片</a></li>
                

                
                <li id="navbar_not_login" style="display : none" data-target="#myModal_login" data-toggle="modal"><a href="javascript:void(0)">登陆<span class="text-danger">(NEW)</span></a></li>
                
                <li id="navbar_has_login" style="display : none" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                            <span class="navbar_username"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="navbar_personal_info_url" href="javascript:void(0)">个人中心</a></li>
                            <li><a href="{:U('DailyBoard/Edit')}">退出登陆</a></li>
                        </ul>
                </li>
            
            
            </ul>
        </div>
    </div>
</nav>
<include file = "Base/dialog_login" />

<script>

    $(document).ready(function(){
        var user_id = $.cookie('id');
        var url = "{:U('LogIn/EditProfile')}"
        if(has_login(false)){
            //已经登陆的设置
            $("#navbar_has_login").css('display','block');
            //设置nickname
            $("#navbar_has_login .navbar_username").html($.cookie("nickname"))
            $("#navbar_has_login .navbar_personal_info_url").attr("href",url);   



        }else{
            //未登陆的设置
            $("#navbar_not_login").css('display','block');
        }
    })

</script>


