<include file="Base/head"/>
</head>
<style type="text/CSS">

.Edit_frame{
    margin-top : 100px;
}
.Edit_item{
    margin-bottom: 40px;
}

.w-e-text-container{
   height: 500px !important;  /* !important是重点，因为原div是行内样式设置的高度300px */
}
</style>


<body>
<include file="Base/NavBar_v2" />
<div class="Edit_frame container">

    <div class="edit_without_id" style="display:none">
        <h2 class="text-info text-center Edit_item">写下今天想跟小舟分享的瞬间吧~~~</h2>
    </div>

    <div class="edit_with_id"  style="display:none">
        <h2 class="text-center">{$ones_user.nickname}</h2>
        <p  class="text-info text-center">于 {$ones_saying.time}</p>
    </div>

    <div id="editor" class="Edit_item"> 
    </div>


    <button id="submit" class="btn btn-lg btn-info center-block Edit_item">我要发布啦~</button>
</div>
</body>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript" src="__PLUGIN__/wangEditor/release/wangEditor.min.js"></script>
<script>
// 编辑框初始js 
$(document).ready(function(){

    var saying_id = '{$ones_saying.id}';

    if(saying_id){
        $(".edit_with_id").css('display','block');
    }else{
        $(".edit_without_id").css('display','block');
    }

    var E = window.wangEditor
    var editor = new E('#editor')
    // 或者 var editor = new E( document.getElementById('editor') )
    // editor.customConfig.uploadImgShowBase64 = false   // 使用 base64 保存图片
    editor.customConfig.uploadImgServer = '{:U("DailyBoard/upload")}';  // 上传图片到服务器 上传tab
    editor.customConfig.uploadFileName = 'myFileName';
    editor.customConfig.debug = true; //是否开启Debug 默认为false 建议开启 可以看到错
    editor.customConfig.zIndex = 100;  // 设置 editor zIndex
    //表格的菜单定义
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        //'fontName',  // 字体
        //'italic',  // 斜体
        'underline',  // 下划线
        //'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        //'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        //'quote',  // 引用
        'emoticon',  // 表情
        'image',  // 插入图片
        // 'table',  // 表格
        // 'video',  // 插入视频
        //'code',  // 插入代码
        // 'undo',  // 撤销
        // 'redo'  // 重复
    ]

    //回掉函数
    editor.customConfig.uploadImgHooks = {
        before : function(xhr, editor, files) {
            
        },
        //成功的回掉函数
        success : function(xhr, editor, result) {
            // 图片url == result['data'][0]
            console.log(result);
        },
        fail : function(xhr, editor, result) {
            console.log("上传失败,原因是"+result);
        },
        error : function(xhr, editor) {
            console.log("上传出错");
        },
        timeout : function(xhr, editor) {
            console.log("上传超时");
        }
    }
    editor.create()

    //初始化的内容
    editor.txt.html('{$ones_saying.html}')


    //点击事件
$("#submit").click(function(){
    
    //是不是艺璇的验证判断
    if(!has_login()) return false;       
        
    var edit_html = editor.txt.html();
    var edit_text = editor.txt.text();
    var theurl = "{:U('DailyBoard/add')}";
    if(saying_id && edit_html == '{$ones_saying.html}') {layer.alert("小任任你你没有改动啦~~~",{skin: 'layui-layer-lan', title :'小舟说:'}); return;}
    if(!edit_text && !edit_html.match('img')) {layer.alert("小任任你要发空的呀!!~~~",{skin: 'layui-layer-lan', title :'小舟说:'}); return;}

    $(this).text("小舟拼命处理中...");
    $(this).attr("disabled", "disabled");

    $.post(
        theurl,
        {	
            'html'  : edit_html,
            'text'  : edit_text,
            'saying_id' : saying_id
        },
        function(data) {
            var obj = JSON.parse(data);
            layer.alert(obj.msg, {skin: 'layui-layer-lan', title :'小舟说:'},function(index){
                 $("#submit").text("我要发布啦~");
                 $("#submit").removeAttr("disabled");
                if(obj.status) {
                    //发布成功
                    url = "{:U('DailyBoard/ShowAll')}";
                    location.href = url;
                }
                 layer.close(index);

            });
            // location.reload();
        }
    )

})
    
})
    



</script>


</html>