
<style type="text/css">     

.navbar{
    padding: 0 200px;
}

.navbar-nav li{
    margin: 0 20px;
}

</style> 

<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid"> 
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><strong><span class="text-info">Booking Center</span></strong></a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{:U('ViewItem/index')}">
                    <i class="glyphicon glyphicon-th-list"></i>
                    All Item</a></li>
                <li class=""><a href="#">
                    <i class="glyphicon glyphicon-asterisk"></i>
                    About Us</a></li>   
                <li class="dropdown">
                    
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        My Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('User/Login')}">Login/Logout</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Personal infomation</a></li>
                        <li class="divider"></li>
                        <li><a href="{:U('ViewItem/my_order')}">My Shows</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
    </nav>