<include file="Base/head"/>


</head>




<body>

    <include file = "Base/navbar" />



    <div class="container">
    


    <div class="row">

            <div class="row col-sm-8 col-md-8">

                    <div class="thumbnail col-md-5 col-sm-5">
                        <img src="__PHOTO__/1.png" 
                        alt="通用的占位符缩略图">
                    </div>

                    <div class="caption pull-right col-sm-6 col-md-6 ">
                            <h3>江小白“新大陆” 布瑞吉Bridge x K ELEVEN 巡演 广州站</h3>
                            <p>演出时间：01月04日 20:30-22:00</p>
                            <p>艺人： Bridge（布瑞吉） / K ELEVEN / 法老Pharaoh</p>
                            <p>场地： 广州 广州 MAO LIVEHOUSE</p>
                            <p>地址：广州市海珠区新港东路1088号六元素体验天地一层MAO Livehouse 查看地图</p>
                            <p>电话： 400-188-6980</p>
                            <h3 class="text-info">预定门票</h3>
                            <hr>

                            <p>
                                <a href="#" class="btn btn-primary" role="button">
                                    400
                                </a> 
                                <a href="#" class="btn btn-default" role="button">
                                    300
                                </a>
                                <a href="#" class="btn btn-default" role="button">
                                    200
                                </a>
                            </p>
                    </div>
            </div>
    </div>
    
<ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">show's detial</a>
        </li>
        <li><a href="#ios" data-toggle="tab">purchase description</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <h3 class="text-danger">观看须知</h3>
            <hr>
            <p> 

                    看点之一：全新专辑 全新曲风 让你感受不一样的雾都“力”
                    
                     
                    
                    GOSH作为南部陷阱说唱音乐的代表，曾以“重特兰大”之名享誉江湖。2018引入台湾金牌制作人JOSH操刀全新专辑新大陆，一扫陈腐旧套，以阳光、水分和新鲜空气，彻底激活Young Bridg与K ELEVEN的青春能量，成就了一张Fresh到不能再Fresh的里程碑式数字专辑。既有学生时代的意气风发，又有创业阶段的努力勤勉，既有梦想世界的纵情摇摆，又有家门巷口的缱绻绵长。回归到生活本身，与普通人没什么不同，但就是比你酷！
                    
                    
                    
                    专辑包含一段Intro、三段Skit旁白和十二首歌曲，共分为四个板块。每一个板块分别讲述了一种生活，这其中包含学生的生活，奋斗的生活，梦想的生活和情爱的生活，合在一起又统一成完整的主题——锐意求新，不断追寻自我的生活，属于布瑞吉和K ELEVEN自己的生活。在曲风上，《买个包包》色彩缤纷，《胖屁股》动感跳脱，《洗衣机》温馨治愈，在保持内核统一的同时又极具多样性，是一张谋篇布局十分完整的专辑。
                </p>
        </div>
        <div class="tab-pane fade" id="ios">
            <h3 class="text-danger">售前提示</h3>
            <hr>
            <p>
                    1.为避免快递配送不能及时送达，演出距开场时间少于3天时不提供【快递配送】服务，请您谅解！您可以选择电子票或在线支付后上门自取纸质票。 点击查看上门取票地址
            </p>
            <p>
                    2.凡演出票类商品，开票时间一般为演出前二到四周，正式开票后会第一时间短信通知您，请注意接收。
            </p>        
                    3.如您不是通过“选座购买”通道进行的票品购买，最终票品数量视项目主办方及场馆情况而定，正式开票后大麦网将根据用户付款先后顺序依次配票，可能存在票品不足不能为您配票的风险，如最终未能配票，大麦网承诺全额退款，但不承担其他损失。
            <p>       
                    支付方式
                    网上银行（招商银行等） 支付平台（支付宝等） 转账汇款(招商银行等)　查看详情
            </p>       
            <p>
                    退/换货说明
                    针对不可抗力和非不可抗力的退/换票情况和处理，请点击查阅大麦网退换货说明
            </p>
        </div>
    </div>




</div>










</body>



</html>