<include file="Base/head"/>

</head>


<body>

    <include file = "Base/navbar" />
    <div class="container">
    <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                   <img src="__PHOTO__/1.png" 
                    alt="通用的占位符缩略图">
                   <div class="caption">
                       <h3>江小白“新大陆”</h3>
                       <p>布瑞吉Bridge x K ELEVEN 巡演 广州站</p>
                       <p>
                           <a href="{:U('detail')}" class="btn btn-primary" role="button">
                               查看详情
                           </a> 
                           <a href="#" class="btn btn-default" role="button">
                               订购
                           </a>
                       </p>
                   </div>
                </div>
           </div>
        </div>
        <hr>
        <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                   <img src="__PHOTO__/2.jpg" 
                    alt="通用的占位符缩略图">
                   <div class="caption">
                       <h3>开心麻花</h3>
                       <p>开心麻花2019爆笑贺岁舞台剧《谈判专家》</p>
                       <p>
                           <a href="#" class="btn btn-primary" role="button">
                               查看详情
                           </a> 
                           <a href="#" class="btn btn-default" role="button">
                               订购
                           </a>
                       </p>
                   </div>
                </div>
           </div>


    </div>

    </body>
</html>