<include file="Base/head"/>
	<import type='css' file="CSS/Card/default"/> 
	<import type='css' file="CSS/Card/styles"/> 
	<import type='js'  file = "JS/Card/Card"/>
</head>
<body>
	<div class="jq22-container">
		<header class="jq22-header">
			<h1>jQuery和CSS3炫酷堆叠卡片展开和收缩特效</h1>
		</header>
		<div class="jq22-content">
			<ul class="cards">
			  <li class="title">
			    <h2>Slide right</h2>
			  </li>
			  <li class="card card-1"><img src="__CARD__/01.jpg"/>
			    <div class="content">
			      <h1>Card 1 Title</h1>
			      <p>Card description</p>
			    </div>
			  </li>
			  <li class="card card-2"><img src="__CARD__/02.jpg"/>
			    <div class="content">
			      <h1>Card 2 Title</h1>
			      <p>Card description</p>
			    </div>
			  </li>
			  <li class="card card-3"><img src="__CARD__/03.jpg"/>
			    <div class="content">
			      <h1>Card 3 Title</h1>
			      <p>Card description</p>
			    </div>
			  </li>
			</ul>
			<hr/>
			<ul class="card-stacks">
			  <li class="title">
			    <h2>Expand to grid</h2>
			  </li>
			  <li class="stack stack-1">
			    <ul class="cards-down">
			      <li class="card card-1"><img src="__CARD__/04.jpg"/>
			        <div class="content">
			          <h1>Card 1 Title</h1>
			          <p>Stack 1</p>
			        </div>
			      </li>
			      <li class="card card-2"><img src="__CARD__/05.jpg"/>
			        <div class="content">
			          <h1>Card 2 Title</h1>
			          <p>Stack 1</p>
			        </div>
			      </li>
			      <li class="card card-3"><img src="__CARD__/06.jpg"/>
			        <div class="content">
			          <h1>Card 3 Title</h1>
			          <p>Stack 1</p>
			        </div>
			      </li>
			    </ul>
			  </li>
			  <li class="stack stack-2">
			    <ul class="cards-down">
			      <li class="card card-1"><img src="__CARD__/07.jpg"/>
			        <div class="content">
			          <h1>Card 1 Title</h1>
			          <p>Stack 2</p>
			        </div>
			      </li>
			      <li class="card card-2"><img src="__CARD__/08.jpg"/>
			        <div class="content">
			          <h1>Card 2 Title</h1>
			          <p>Stack 2</p>
			        </div>
			      </li>
			      <li class="card card-3"><img src="__CARD__/01.jpg"/>
			        <div class="content">
			          <h1>Card 3 Title</h1>
			          <p>Stack 2</p>
			        </div>
			      </li>
			    </ul>
			  </li>
			  <li class="stack stack-3">
			    <ul class="cards-down">
			      <li class="card card-1"><img src="__CARD__/06.jpg"/>
			        <div class="content">
			          <h1>Card 1 Title</h1>
			          <p>Stack 3</p>
			        </div>
			      </li>
			      <li class="card card-2"><img src="__CARD__/02.jpg"/>
			        <div class="content">
			          <h1>Card 2 Title</h1>
			          <p>Stack 3</p>
			        </div>
			      </li>
			      <li class="card card-3"><img src="__CARD__/03.jpg"/>
			        <div class="content">
			          <h1>Card 3 Title</h1>
			          <p>Stack 3</p>
			        </div>
			      </li>
			    </ul>
			  </li>
			</ul>
			<hr/>
			<ul class="cards-split">
			  <li class="title">
			    <h2>Split from middle</h2>
			  </li>
			  <li class="card card-1"><img src="__CARD__/02.jpg"/>
			    <div class="content">
			      <h1>Card 1 Title</h1>
			      <p>Card description</p>
			    </div>
			  </li>
			  <li class="card card-2"><img src="__CARD__/04.jpg"/>
			    <div class="content">
			      <h1>Card 2 Title</h1>
			      <p>Card description</p>
			    </div>
			  </li>
			  <li class="card card-3"><img src="__CARD__/06.jpg"/>
			    <div class="content">
			      <h1>Card 3 Title</h1>
			      <p>Card description</p>
			    </div>
			  </li>
			</ul>
			<hr/>
			<ul class="cards-split-delay">
			  <li class="title">
			    <h2>Delayed split from middle</h2>
			  </li>
			  <li class="card card-1"><img src="__CARD__/01.jpg"/>
			    <div class="content">
			      <h1>Card 1 Title</h1>
			      <p>Card description</p>
			    </div>
			  </li>
			  <li class="card card-2"><img src="__CARD__/05.jpg"/>
			    <div class="content">
			      <h1>Card 2 Title</h1>
			      <p>Card description</p>
			    </div>
			  </li>
			  <li class="card card-3"><img src="__CARD__/08.jpg"/>
			    <div class="content">
			      <h1>Card 3 Title</h1>
			      <p>Card description</p>
			    </div>
			  </li>
			</ul>
		</div>
	</div>
	

</body>
</html>