<include file="Base/head"/>
    <import type='css'  file = "CSS/TagCloud/jquery_tagsinput-revisited"/>
    <import type='js'  file = "JS/TagCloud/jquery_tagsinput-revisited"/>
	<style type="text/css">
		.jumbotron{
			background : url('__PHOTO__/Jumu/jumu.png');
			-moz-background-size:63px 100px; /* 老版本的 Firefox */
			background-size:1700px 400px;
			background-repeat:no-repeat;
			color:antiquewhite;
			height: 400px;
			padding: 200px
			
		}
		.jq22-content {
			width: 800px;
			margin: 20px auto;
		}
		.one_tag_group{
			margin: 50px 0;
			
		}
		.volist_tag{
			margin-top : 80px;
		}
    </style>
	</head>
	<body>
<div class="jumbotron">
</div>
<h1 class="text-center text-info">小任任同学常来种草拔草哦</h1>
<h2 class="text-center text-info">输入之后按enter(回车键)添加, 删除直接点右上小叉叉, 最后别忘了确定才会生效哦🐷</h2>
<div class="jq22-content volist_tag">
		<hr/>
		<h2>已有足迹编辑</h2>
        <volist name="fixplace" id="places">
				<div class="one_tag_group">
					<h3 class="text-center">{$places.title}</h3>
					<input class="tags" id="{$places.id}" type="text" old = "{$places.place}" value= "{$places.place}">  
					<br/>      
					<button class="tag_submit btn btn-primary btn-lg" name='{$places.id}' type='{$places.type}'>确定</button>
				</div>
		</volist>   
		<hr/>
		<h2>新增自定义足迹</h2>
		<form role="form">
				<div class="form-group">
				   <label for="tag_name">足迹名称</label>
				   <input type="text" class="form-control" id='new_tag_name' name='name' placeholder="请输入足迹名称">
				</div>
				<div class="form-group">
					<label for="tag_des">足迹描述</label>
					<input type="text" class="form-control" id='new_tag_des' name='des' placeholder="为新增加的足迹加入简短的描述信息吧">
				</div>
				<button type="button" class="new_tag_submit btn btn-primary btn-lg">提交</button>
		</form>
</div>
<include file="Base/dialog_isyixuan"/>
<script>
$(function() {
// 新增足迹提交
$(".new_tag_submit").click(function(){

	//不是艺璇则退出
	if(!is_yixuan()) return;

	var name = $("#new_tag_name").val();
	var des  = $("#new_tag_des").val();

	if(name && des) {
	var theurl = "{:U('TagCloud/add_tag')}"
			$.post(
				theurl,
				{	
					'name'  : name,
					'des'   : des
				},
				function(data) {
					alert(data);
					location.reload();

				}
			)

	}else{

		alert("小任任不能提交空内容哦");


	}



})


$(".tag_submit").click(function(){

		//是不是艺璇的验证判断
		if(!is_yixuan()) return false;

		var button_name = $(this).attr('name');
		var button_type = $(this).attr('type');
		

		var old_places = $("#"+button_name+"").attr("old")
		var new_places = $("#"+button_name+"").val()

		var theurl = "{:U('TagCloud/save_tag')}";
		$.post(
			theurl,
			{	
				'new_places'  : new_places,
				'old_places'  : old_places,
				'tag_type'    : button_type,
			},
			function(data) {
				alert(data);
				location.reload();

			}
		)

})




// ----------------------- original plugin

$('.tags').tagsInput({
	'onAddTag': function(input, value) {
		console.log('tag added', input, value);
	},
	'onRemoveTag': function(input, value) {
		console.log('tag removed', input, value);
	},
	'onChange': function(input, value) {
		console.log('change triggered', input, value);
	}
});



});
</script>
</body>
</html>