<include file="Base/head"/>
    <!-- 标签云 js -->
  <import type='js'  file = "JS/TagCloud/tagcloud"/>
  <import type='css' file='CSS/TagCloud/demo' />
</head>
<body>
    <include file="Base/NavBar" />


<volist name='tags' id='each_tag'>

    <div class="wrapper"> 
        <p class="rl">{$each_tag.title}<br/>{$each_tag.des}</p>
      <div class="tagcloud">
        <volist name='each_tag.place' id='each_place'>
          <a href="{$each_place.url}">{$each_place.name}</a> 
        </volist>
      </div>
    </div>

</volist>

<!-- <div class="wrapper"> 
    <p class="rl">未来想和艺璇吃的馆子<br/>就知道吃??</p>
  <div class="tagcloud">
    <a href="#">精粉世家</a>
    <a href="#">江汉路地铁站b口内台湾小吃</a>
    <a href="#">年年</a>
    <a href="#">高老九火锅</a>
    <a href="#">吼吼也算一个吧</a>
    <a href="#">九毛九</a>
    <a href="#">上海鲍师傅</a>
    <a href="#">书亦 烧仙草</a>
  </div>
</div> -->

<script type="text/javascript">
    /*3D标签云*/
    tagcloud({
        selector: ".tagcloud",  //元素选择器
        fontsize: 20,       //基本字体大小, 单位px
        radius: 150,         //滚动半径, 单位px
        mspeed: "fast",   //滚动最大速度, 取值: slow, normal(默认), fast
        ispeed: "normal",   //滚动初速度, 取值: slow, normal(默认), fast
        direction: 135,     //初始滚动方向, 取值角度(顺时针360): 0对应top, 90对应left, 135对应right-bottom(默认)...
        keep: false          //鼠标移出组件后是否继续随鼠标滚动, 取值: false, true(默认) 对应 减速至初速度滚动, 随鼠标滚动
    });
</script>
</body>
</html>