<include file="Base/head"/>
<import type='css' file="CSS/Beginning/style" />
</head>

<body>

<p id="offscreen-text" class="offscreen-text"></p>
<p id="text" class="text"></p>
<svg id="svg"> </svg>
<input style="display : none;" type="text" class="input", id="input" />

<include file="Base/NavBar" />
<!-- 排列效果 js  -->
<import type='js' file="JS/Beginning/CSSPluginmin"/>

 <!--动画效果的js  -->
<import type='js' file="JS/Beginning/EasePackmin"/>
<import type='js' file="JS/Beginning/TweenLitemin"/>

<!-- 改变文字入口js -->
<import type='js' file="JS/Beginning/index"/>


</body>
</html>
