<include file="Base/head"/>

<style type="text/css">
.time_count_h1{
    position: relative !important;
    right: auto !important;
    color : #DFDFD7;
    margin: 0 auto !important;
}
.chart-summary{
    /* display: none !important; */
}
.time_div{
    width: 660px;
    margin: 0 auto !important;
    padding: 60px 0 !important;
}
</style>

    <include file="Base/head"/>
    <title>倒计时</title>

    <!-- /// Reset StyleSheet ///  -->
    <import type='css' file='CSS/TimeCounter/reset' />

    

    <!-- /// FontAwesome ///  -->
    <import type='css' file='CSS/TimeCounter/font-awesome' />



    <!-- /// Main StyleSheet ///  -->
    <import type='css' file='CSS/TimeCounter/style' />



</head>

<body>


    <div class="container">
            <include file="Base/NavBar_v2"/>
            <script>
                
                $(".dropdown-toggle").click(function(){

                    $(".dropdown-toggle").dropdown();

                })
            
            </script>
        <div class="wrapper">



            <!-- /// Header ///  -->

            <div class="header">



                <!-- /// Logo ///  -->

                <div id="logo">

                    <a href="#"><span style="color:#EE2F6D;">Loving</span><span style="color:#33C6F4;">Counter</span></a>

                </div><!-- /// end Logo ///  -->



            </div><!-- /// end Header ///  -->



            <!-- /// Description ///  -->

            <div class="description">

                <h1 class="time_count_h1"><strong>我们相遇了</strong></h1>

            </div><!-- /// end Description ///  -->



            <!-- /// Body ///  -->

            <div>

                <div class="counter"></div>

            </div><!-- /// end Body ///  -->


        </div>


        <div class="wrapper">



                <!-- /// Header ///  -->
    
                <div class="header">
    
    
    
                    <!-- /// Logo ///  -->
    
                    <div id="logo">
    
                        <!-- <a href="#"><span style="color:#EE2F6D;">Loving</span><span style="color:#33C6F4;">Counter</span></a> -->
    
                    </div><!-- /// end Logo ///  -->
    
    
    
                </div><!-- /// end Header ///  -->
    
    
    
                <!-- /// Description ///  -->
    
                <div class="description">
    
                    <h1 class="time_count_h1"><strong>距离我们六月见面还剩</strong></h1>
    
                </div><!-- /// end Description ///  -->
    
    
    
                <!-- /// Body ///  -->
    
                <div>
    
                    <div class="counter2 time_div"></div>
    
                </div><!-- /// end Body ///  -->
    
    
        </div>

        <div class="wrapper">



                <!-- /// Header ///  -->
    
                <div class="header">
    
    
    
                    <!-- /// Logo ///  -->
    
                    <div id="logo">
    
                        <!-- <a href="#"><span style="color:#EE2F6D;">Loving</span><span style="color:#33C6F4;">Counter</span></a> -->
    
                    </div><!-- /// end Logo ///  -->
    
    
    
                </div><!-- /// end Header ///  -->
    
    
    
                <!-- /// Description ///  -->
    
                <div class="description">
    
                    <h1 class="time_count_h1"><strong>我们kiss了</strong></h1>
    
                </div><!-- /// end Description ///  -->
    
    
    
                <!-- /// Body ///  -->
    
                <div>
    
                    <div class="counter3 time_div"></div>
    
                </div><!-- /// end Body ///  -->
    
    
        </div>




    </div>



    <!-- /// Modernizr ///  -->
    <import type='js'  file = "JS/TimeCounter/modernizr/modernizr_custom"/>



    <!-- /// EasyPieChart ///  -->
    <import type='js'  file = "JS/TimeCounter/easypiechart/easypiechart_min"/>
    <import type='js'  file = "JS/TimeCounter/easypiechart/jquery_easypiechart_min"/>



    <!-- /// TicTic ///  -->
    <import type='js'  file = "JS/TimeCounter/tictic/jquery_tictic_min"/>


    <!-- /// Custom ///  -->
    <import type='js'  file = "JS/TimeCounter/custom/clean/custom"/>
    
    


        

</body>

</html>

