<include file="Base/head"/>
<!-- 图标 涉及到爱心图标的显示-->
<link href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" rel="stylesheet">
<style type="text/css">
.time_count_h1{
    position: relative !important;
    right: auto !important;
    color : #DFDFD7;
    margin: 0 auto !important;
}
.description_adding_days{
    padding: 0 !important;
    margin-bottom: 30px !important;
}
.description_adding_days h2{
    font-size: 30px !important;
    color: #DFDFD7;
}
.description_adding_days h3{
    color: #ff749f;  
    font-size: 50px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.description_adding_days h4{
    color: #ffbed3 
}

.chart-summary{
    /* display: none !important; */
}
@media screen and (max-width: 600px){

    #logo{

        font-size: 45px;

    }
}
</style>

    <include file="Base/head"/>
    <title>倒计时</title>

    <!-- /// Reset StyleSheet ///  -->
    <import type='css' file='CSS/TimeCounter/reset' />

    

    <!-- /// FontAwesome ///  -->
    <!-- <import type='css' file='CSS/TimeCounter/font-awesome' /> -->



    <!-- /// Main StyleSheet ///  -->
    <import type='css' file='CSS/TimeCounter/style' />



</head>

<body>


    <div class="container">
            <include file="Base/NavBar_v2"/>
            <script>
                
                $(".dropdown-toggle").click(function(){

                    $(".dropdown-toggle").dropdown();

                })
            
            </script>
        <div class="wrapper">



            <!-- /// Header ///  -->

            <div class="header">



                <!-- /// Logo ///  -->

                <div id="logo">

                    <a href="#"><span style="color:#EE2F6D;">Loving</span><span style="color:#33C6F4;">Counter</span></a>

                </div><!-- /// end Logo ///  -->



            </div><!-- /// end Header ///  -->



            <!-- /// Description ///  -->

            <div class="description">

                <h1 class="time_count_h1"><strong>我们相遇了</strong></h1>

            </div><!-- /// end Description ///  -->



            <!-- /// Body ///  -->

            <div>

                <div id= "counter" class="counter"></div>

            </div><!-- /// end Body ///  -->

            <div class="description description_adding_days">
                <h2><strong>共</strong></h2>
                <h3 id="totle_conter1">13</h3>
                <h4>days</h3>
            </div>


        </div>


        <div class="wrapper">



                <!-- /// Header ///  -->
    
                <div class="header">
    
    
    
                    <!-- /// Logo ///  -->
    
                    <div id="logo">
    
                        <!-- <a href="#"><span style="color:#EE2F6D;">Loving</span><span style="color:#33C6F4;">Counter</span></a> -->
    
                    </div><!-- /// end Logo ///  -->
    
    
    
                </div><!-- /// end Header ///  -->
    
    
    
                <!-- /// Description ///  -->
    
                <div class="description">
    
                    <h1 class="time_count_h1"><strong>距离我们六月见面还剩</strong></h1>
    
                </div><!-- /// end Description ///  -->
    
    
    
                <!-- /// Body ///  -->
    
                <div>
    
                    <div id="counter2" class="counter"></div>
    
                </div><!-- /// end Body ///  -->

                <div class="description description_adding_days">
                    <h2><strong>共</strong></h2>
                    <h3 id="totle_conter2">13</h3>
                    <h4>days</h3>
                </div>
    
    
        </div>

        <div class="wrapper">



                <!-- /// Header ///  -->
    
                <div class="header">
    
    
    
                    <!-- /// Logo ///  -->
    
                    <div id="logo">
    
                        <!-- <a href="#"><span style="color:#EE2F6D;">Loving</span><span style="color:#33C6F4;">Counter</span></a> -->
    
                    </div><!-- /// end Logo ///  -->
    
    
    
                </div><!-- /// end Header ///  -->
    
    
    
                <!-- /// Description ///  -->
    
                <div class="description">
    
                    <h1 class="time_count_h1"><strong>我们kiss了</strong></h1>
    
                </div><!-- /// end Description ///  -->
    
    
    
                <!-- /// Body ///  -->
    
                <div>
    
                    <div id="counter3" class="counter"></div>
    
                </div><!-- /// end Body ///  -->
    
                <div class="description description_adding_days">
                    <h2><strong>共</strong></h2>
                    <h3 id="totle_conter3">13</h3>
                    <h4>days</h3>
                </div>
    
        </div>




    </div>
    <!-- /// Custom ///  -->
    <import type='js'  file = "JS/TimeCounter/custom/clean/custom"/>

    <!-- /// Modernizr ///  -->
    <import type='js'  file = "JS/TimeCounter/modernizr/modernizr_custom"/>



    <!-- /// EasyPieChart ///  -->
    <import type='js'  file = "JS/TimeCounter/easypiechart/easypiechart_min"/>
    <import type='js'  file = "JS/TimeCounter/easypiechart/jquery_easypiechart_min"/>



    <!-- /// TicTic ///  -->
    <import type='js'  file = "JS/TimeCounter/tictic/jquery_tictic_min"/>



    
    


        
    <include file="Base/foot"/>
</body>

</html>

