<include file = "Base/head" />
<!-- 手风琴js -->
<import type='js'  file="JS/photo_wall/accordion"/>
<!-- 手风琴css -->
<import type='css'  file="CSS/photo_wall/accordion"/>
<!-- 手风琴ul. css -->
<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?3b502214742bcc5b5bb374f19c45461c";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>	
</head>
<body>
	<!-- 包含侧栏的导航条 -->
	<include file="Base/NavBar" />
	
	<!-- 标题 -->
	</div>
		<div class="contianer">
			<h2 class="center" style="text-align:center; color: #F80">The Day In K11</h2>
		</div>
	</div>

	<!-- 照片 -->
	<div id="center">
	<div class="nav_top">

		<div id="slider">


			<div class="slide">
				<a class="thumbnail the_frame">
				<img class="diapo" src="__PHOTO__/Nov/K11/1.JPG" alt="">
				</a>
				<div class="text">
					<span class="title">K11</span>
					<br>
						<h4>
						我和艺璇坐车来到了关谷K11, 这里装修的好棒. 找了一个小姐姐给我们拍了一张很棒的合照.
						</h4>
				</div>
			</div>
				
			<div class="slide">
					<a class="thumbnail the_frame">
					<img class="diapo" src="__PHOTO__/Nov/K11/IMG_1228.JPG" alt="">
					</a>
					<div class="text">
						<span class="title">K11</span>
						<br>
							<h4>
							我和艺璇坐车来到了关谷K11, 这里装修的好棒. 找了一个小姐姐给我们拍了一张很棒的合照.
							</h4>
					</div>
				</div>

			<div class="slide">
					<a class="thumbnail the_frame">
					<img class="diapo" src="__PHOTO__/Nov/K11/IMG_1229.jpg" alt="">
					</a>
					<div class="text">
						<span class="title">K11</span>
						<br>
							<h4>
							我和艺璇坐车来到了关谷K11, 这里装修的好棒. 找了一个小姐姐给我们拍了一张很棒的合照.
							</h4>
					</div>
				</div>
			<div class="slide">
					<a class="thumbnail the_frame">
					<img class="diapo" src="__PHOTO__/Nov/K11/IMG_1230.jpg" alt="">
					</a>
					<div class="text">
						<span class="title">K11</span>
						<br>
							<h4>
							我和艺璇坐车来到了关谷K11, 这里装修的好棒. 找了一个小姐姐给我们拍了一张很棒的合照.
							</h4>
					</div>
				</div>
			<div class="slide">
					<a class="thumbnail the_frame">
					<img class="diapo" src="__PHOTO__/Nov/K11/IMG_1238.jpg" alt="">
					</a>
					<div class="text">
						<span class="title">K11</span>
						<br>
							<h4>
							我和艺璇坐车来到了关谷K11, 这里装修的好棒. 找了一个小姐姐给我们拍了一张很棒的合照.
							</h4>
					</div>
				</div>
			<div class="slide">
					<a class="thumbnail the_frame">
					<img class="diapo" src="__PHOTO__/Nov/K11/IMG_1235.jpg" alt="">
					</a>
					<div class="text">
						<span class="title">K11</span>
						<br>
							<h4>
							我和艺璇坐车来到了关谷K11, 这里装修的好棒. 找了一个小姐姐给我们拍了一张很棒的合照.
							</h4>
					</div>
				</div>
			<div class="slide">
					<a class="thumbnail the_frame">
					<img class="diapo" src="__PHOTO__/Nov/K11//IMG_1239.jpg" alt="">
					</a>
					<div class="text">
						<span class="title">K11</span>
						<br>
							<h4>
							我和艺璇坐车来到了关谷K11, 这里装修的好棒. 找了一个小姐姐给我们拍了一张很棒的合照.
							</h4>
					</div>
				</div>
			<div class="slide">
					<a class="thumbnail the_frame">
					<img class="diapo" src="__PHOTO__/Nov/K11/IMG_1244.JPG" alt="">
					</a>
					<div class="text">
						<span class="title">K11</span>
						<br>
							<h4>
							我和艺璇坐车来到了关谷K11, 这里装修的好棒. 找了一个小姐姐给我们拍了一张很棒的合照.
							</h4>
					</div>
				</div>
			<div class="slide">
					<a class="thumbnail the_frame">
					<img class="diapo" src="__PHOTO__/Nov/K11/IMG_1245.JPG" alt="">
					</a>
					<div class="text">
						<span class="title">K11</span>
						<br>
							<h4>
							我和艺璇坐车来到了关谷K11, 这里装修的好棒. 找了一个小姐姐给我们拍了一张很棒的合照.
							</h4>
					</div>
				</div>
			<div class="slide">
					<a class="thumbnail the_frame">
					<img class="diapo" src="__PHOTO__/Nov/K11/IMG_1249.JPG" alt="">
					</a>
					<div class="text">
						<span class="title">K11</span>
						<br>
							<h4>
							我和艺璇坐车来到了关谷K11, 这里装修的好棒. 找了一个小姐姐给我们拍了一张很棒的合照.
							</h4>
					</div>
				</div>
		</div>
	</div>

<script type="text/javascript">
	/* ==== start script ==== */
	slider.init();
</script>
</body>
</html>
